/* login form */

.login_form_field.input-group{
  position: relative;
  margin-bottom: 30px !important;
}

.login_form_field .form-control {
  width: 100% !important;
}

.login_form_field  .input-group-text{
  margin-right: -2px !important; 
  border-radius: 3px !important; 
}

.login_form_field .input-group-prepend{
  margin-right: -2px !important;
}

.relative{
  position: relative !important;
}

.login_form_field .error_txt{
  position: absolute;
  color: red;
}

.error_txt{
    color: red;
}

.error_field{ 
  position: absolute; 
}

.remove_btn {
    margin-top: 38px;
}

.remove_btn:hover{
  color: #f86c6b;
  cursor: pointer;
}

.relations-structure .row :not(:last-child) {
    border-bottom: 1px solid #ccc !important;
}

.validationError{
  border-color: #f86c6b !important;
}

.action-button{
  margin: 12px 0;
  border-bottom: 1px solid #c2cfd6;
  padding-bottom: 12px;
}
.jm .btn{
  margin-top: 28px;
}

.app-header.navbar {
  background-color: #fff !important; 
}

.app-header.navbar .dropdown-item {
  min-width: 100% !important;
}

.link{
  color: #167495;
  cursor: pointer;
}

.card-body.card-block .bold_txt{
  font-weight: bold;
  padding: 0px 12px;
}

.value_borded
   { 
    border: 1px solid #c2cfd6;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #3e515b;
  }

.relations-structure
  {  display: inline-block; }

.relations-structure .row {
 margin: 0px 0px 0px -15px;
  }

.pl-0 {
  padding-left: 0px !important;
  }

.card-body .mb-4.row {
 margin-bottom: 1rem !important;
 }

.no_pad{ 
 padding: 0px !important;
 }


.login-body .card {
    background: #fff;
    border: 0;
    text-align: left;
    border-radius: 0;
}

.login-body{
  justify-content: center;
}

.login-body .card-body p.text-muted {
  color: #73818f  !important;
}

.login-body .login_form_field.input-group div:nth-child(2) {
  width: calc(100% - 40px);
}

.error_field {
  color: red;
  text-align: right;
}

.pointer {cursor: pointer;}

.scrollBar {
  overflow-y:scroll;
  height:500px;
}


.attach_component_block {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.add_relation {
    position: absolute !important;
    bottom: 0px;
    padding: 0 !important;
}

.spinnerCenter{
  position: absolute;
  left: 50%
}

.txt-center-dashbaord{
    position: absolute;
    left: 40%
}

.clear-date-button{
    background: transparent;
}


#root .app.login_box {
    background-color: rgba(0,0,0,0);
    justify-content: center;
}

.login_box input {
    padding: 6px 10px;
    border: 1px solid #ced4da;
    border-radius: 0px 3px 3px 0 !important;
}

.header-text {
    margin-left: 70px;
}

.aside-menu-fixed.aside-menu-hidden .main, .aside-menu-fixed.aside-menu-hidden .app-footer {
    margin-left: 0px;
    background-color: #012431;
}

.ml-auto{
  color: #fff;
}

.userprofile{
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
}

.leftsidebarsyle{
    margin-top: 80px;
    margin-left: 30px;
    width:17%;
}

.rightsidebarstyle{
    margin-top: 80px;
    margin-right: 15px;
    position: relative;
    width: 25%;
}

.dashboardstyle{
    margin-top: 25px;
    width: 56%;
    position: absolute;
}

.search_connection{
    margin-left: 15px !important;
    margin-top: 20px;
}

.imgset{
  margin-top: 20px;
}

.cardbody_radius{
  border: 2px solid #b8dff5;
}

.register_form_field .input-group-text{
  display: initial !important;
}

.flexwarpclass{
  flex-wrap: nowrap !important;
}

.textfont{
    font-style: italic;
    font-family: cursive;
    margin-top: 17px;
  }

.textfont-dash{
    font-style: italic;
    font-family: cursive;
  }  

 .headertext{
  font-family: fantasy;
 }

 .connectiontext{
  font-family: cursive;
  font-size: 20px;
}

.avtartextcenter{
  margin-left: 15px;
  color: lightslategray;
}

.avatar{
  position: relative;
  display: inline-block;
}

.avatar .avatar-status {
    position: absolute;
    right: 0;
    bottom: 35px;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50em;
}

.googlebtn{
    display: inline-block;
    background: rgb(209, 72, 54);
    color: rgb(255, 255, 255);
    width: 210px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto;
}

.kep-login-facebook{
    display: inline-block !important;
    background-color: #4c69ba !important;
    color: #fff !important;
    width: 210px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    text-transform: none !important;
    border-radius: 2px !important;
    border: 1px solid transparent !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: Roboto !important;
}

.logingooglebtn{
    margin-top: 20px;
}

.bglogin{
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.5;
}

.profileimage{
    max-height: 100px;
    max-width: 100px;
    margin-left: 70px;
}

    